{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_header() %}
    <header id="header">
        {{ html_site_title() }}
        {{ html_translation_header() }}
        {{ html_navigation_links() }}
        {% if search_form %}
            <div class="searchform" role="search">
                {{ search_form }}
            </div>
        {% endif %}
    </header>
    {{ template_hooks['page_header']() }}
    {% block extra_header %}{% endblock %}
{% endmacro %}

{% macro html_site_title() %}
    <h1 id="brand"><a href="{{ abs_link(_link("root", None, lang)) }}" title="{{ blog_title|e }}" rel="home">
    {% if logo_url %}
        <img src="{{ logo_url }}" alt="{{ blog_title|e }}" id="logo">
    {% endif %}

    {% if show_blog_title %}
        <span id="blog-title">{{ blog_title|e }}</span>
    {% endif %}
    </a></h1>
{% endmacro %}

{% macro html_navigation_links() %}
    <div class="myTopNav">
    <div>
      <a href="index.html" height=40px;>
        <image src="images/pypy-logo.svg" width=75px; alt=PyPy/>
      </a>
    </div>
    <div class="topnav">
    {{ html_navigation_links_entries(navigation_links) }}
    {{ html_navigation_links_entries(navigation_alt_links) }}
    {{ template_hooks['menu']() }}
    {{ template_hooks['menu_alt']() }}
    </div>
    <a href="javascript:void(0);" class="icon" onclick="make_responsive()">&#9776;</a>
    </div>
{% endmacro %}

{% macro html_navigation_links_entries(navigation_links_source) %}
    {% for url, text in navigation_links_source[lang] %}
        {% if isinstance(url, tuple) %}
            <div class="dropdown"> <button class="dropbtn">{{ text }}
                <i class="fa fa-caret-down"></i>
                </button>
            <div class="dropdown-content"> 
            {% for suburl, text in url %}
                {% if rel_link(permalink, suburl) == "#" %}
                    <a class="active" href="{{ permalink }}">{{ text }}{{ messages("(active)", lang) }}</a>
                {% else %}
                    <a href="{{ suburl }}">{{ text }}</a>
                {% endif %}
            {% endfor %}
            </div></div>
        {% else %}
            {% if rel_link(permalink, url) == "#" %}
                <a class="active" href="{{ permalink }}">{{ text }}<span class="sr-only"> {{ messages("(active)", lang) }}</span></a>
            {% else %}
                <a href="{{ url }}">{{ text }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro html_translation_header() %}
    {% if translations|length > 1 %}
        <div id="toptranslations">
            <h2>{{ messages("Languages:") }}</h2>
            {{ base.html_translations() }}
        </div>
    {% endif %}
{% endmacro %}
