{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_header() %}
    <header id="header">
        {{ html_site_title() }}
        {{ html_translation_header() }}
        {{ html_navigation_links() }}
        {% if search_form %}
            <div class="searchform" role="search">
                {{ search_form }}
            </div>
        {% endif %}
    </header>
    {{ template_hooks['page_header']() }}
    {% block extra_header %}{% endblock %}
{% endmacro %}

{% macro html_site_title() %}
{% endmacro %}

{% macro html_navigation_links() %}
    <!-- Adapted from https://www.taniarascia.com/responsive-dropdown-navigation-bar -->
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="index.html">
                    <image id="toplogo" src="images/pypy-logo.svg" width=75px; alt=PyPy/>
                </a>
            </div>
            <nav>
                <ul class="nav-list">
                    {{ html_navigation_links_entries(navigation_links) }}
                </ul>
            </nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"> <span></span></a>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro html_navigation_links_entries(navigation_links_source) %}
    {% for url, text in navigation_links_source[lang] %}
        {% if isinstance(url, tuple) %}
            <li> 
                <a href="#!">{{ text}}</a>
                <ul class="nav-dropdown">
                {% for url2, text2 in url %}
                    <li> <a href="{{ url2 }}">{{ text2}}</a> </li>  
                {% endfor %}
                </ul>
            </li>
        {% else %}
          <li> <a href="{{ url }}">{{ text}}</a> </li>  
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro html_translation_header() %}
    {% if translations|length > 1 %}
        <div id="toptranslations">
            <h2>{{ messages("Languages:") }}</h2>
            {{ base.html_translations() }}
        </div>
    {% endif %}
{% endmacro %}
