{#  -*- coding: utf-8 -*- #}
{% import 'sidebar-helper.tmpl' as helper with context %}

<div>
  <h2>
    The PyPy blogposts
  </h2>
  <div>
    Create a guest post via a PR to the <a
    href=https://github.com/pypy/pypy.org>source repo</a>
  </div>
</div>
{% if global_posts %}
  {{ helper.list_posts(global_posts) }}
{% endif %}
{% if global_category_items %}
  {{ helper.list_taxonomy("Categories", global_category_items, global_category_hierarchy, type='category') }}
{% endif %}
{% if global_archive_hierarchy %}
  {{ helper.archives(global_archive_hierarchy) }}
{% endif %}
{% if global_tag_items %}
  {{ helper.list_taxonomy("Tags", global_tag_items, type='tag') }}
{% endif %}
